.project
.pydevproject
.settings/
env/
client_libs/
*.pyc
*~
*.kpf
er_model.mwb.bak
edacc.komodoproject
edacc/local_config.py
.idea/
scripts/satchallenge_local_config.py
scripts/satcomp13_local_config.py
scripts/satcomp13*
