{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Number of instances solved within a given amount of time{% endblock %}
{% block content %}
    <div class="navigation">
        » <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a> ::
        <a href="{{url_for('frontend.experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
        Analysis
    </div>

    <div style="margin: 5px; float: left;">
        <form method="get" action="{{url_for('analysis.cactus_plot', database=database, experiment_id=experiment.idExperiment)}}">
            <table>
                {{ render_field(form.instances) }}
                <tr><td colspan="2"><input type="submit" value="Show" /></td></tr>
            </table>
        </form>
    </div>

    <div style="text-align: center; margin-left: 20px; margin-bottom: 20px; float: left;">
        {% autoescape false %}
        <img alt="graph" src="{{url_for('plot.cactus_plot', database=database, experiment_id=experiment.idExperiment)}}?{{GET_data}}" /><br/>
        Download as <a href="{{url_for('plot.cactus_plot', database=database, experiment_id=experiment.idExperiment)}}?{{GET_data}}&pdf">PDF</a>
        {% endautoescape %}
    </div>
{% endblock %}