{% from "_formhelpers.html" import render_field, render_radio_field %}
{% extends "base.html" %}
{% block title %}State of the art solvers and VBS analysis{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" href="{{url_for('static', filename='css/smoothness/jquery-ui-1.8.16.custom.css')}}" rel="Stylesheet" />
    <link type="text/css" href="{{url_for('static', filename='css/demo_table_jui.css')}}" rel="Stylesheet" />
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/FixedHeader.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
                var x = (a == "-") ? 0 : a.replace( /%/, "" );
                var y = (b == "-") ? 0 : b.replace( /%/, "" );
                x = parseFloat( x );
                y = parseFloat( y );
                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
            };

            jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
                var x = (a == "-") ? 0 : a.replace( /%/, "" );
                var y = (b == "-") ? 0 : b.replace( /%/, "" );
                x = parseFloat( x );
                y = parseFloat( y );
                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
            };

            jQuery.fn.dataTableExt.oSort['anchor-numeric-asc']  = function(x,y) {
                fx = parseFloat($(x).html());
                fy = parseFloat($(y).html());
                if (isNaN(fx)) fx = 0;
                if (isNaN(fy)) fy = 0;
                return ((fx < fy) ? -1 : ((fx > fy) ?  1 : 0));
            };
            jQuery.fn.dataTableExt.oSort['anchor-numeric-desc'] = function(x,y) {
                fx = parseFloat($(x).html());
                fy = parseFloat($(y).html());
                if (isNaN(fx)) fx = 0;
                if (isNaN(fy)) fy = 0;
                return ((fx < fy) ?  1 : ((fx > fy) ? -1 : 0));
            };

            {% if form.i.data %}
            var oTable = $('#sota_table').dataTable({
                "bPaginate": true,
                "iDisplayLength": 1000,
                "aLengthMenu": [1000, 5000, 10000],
                "bLengthChange": false,
                "bJQueryUI": true,
                "bFilter": true,
                "bStateSave": true,
                "bInfo": true,
                "aoColumns": [null, {"sType": "anchor-numeric"}]
            });
            new FixedHeader( oTable );

            var oCorTable = $('#table_correlations').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bJQueryUI": true,
                "bStateSave": true,
                "bInfo": true,
            });

            {% if ranking_data %}
            oRankingTable = $('#ranking').dataTable({
                "bPaginate": true,
                "iDisplayLength": 1000,
                "aLengthMenu": [1000, 5000, 10000],
                "bLengthChange": false,
                "bJQueryUI": true,
                "bFilter": true,
                "bStateSave": true,
                "bInfo": true,
                "aaSorting": [[0,'asc']],
                "aoColumns": [
                    null,
                    null,
                    null,
                    { "sType": "percent" },
                    { "sType": "percent" },
                    null,
                    null,
                    null
                ]
            });
            new FixedHeader( oRankingTable );

            {% endif %}
            {% endif %}

            {% include '/analysis/multiple_instances_filter_js.html' %}
        });
    </script>
{% endblock %}
{% block content %}
    <div class="navigation">
        » <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a> ::
        <a href="{{url_for('frontend.experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
        SOTA Solvers and VBS analysis
    </div>
    <h2>State-of-the-Art Solvers</h2>
    <div style="margin-left: 5px;">
        <form method="get" action="{{url_for('analysis.sota_solvers', database=database, experiment_id=experiment.idExperiment)}}">
            <table id="form_table">
                {{ render_field(form.sc, size=10) }}
                {{ render_field(form.cost) }}
                {{ render_field(form.i, explanation='Hold Ctrl to select multiple instances.', size=10) }}
                <tr>
                    <td style="vertical-align: middle;">Filter instances</td>
                    <td>{{form.instance_filter}}<img id="instance_filter_apply" src="{{url_for('static', filename='img/search.png')}}"/><img id="instance_filter_clear" src="{{url_for('static', filename='img/clear.png')}}"/><br/>
                        JS expression filter. Valid variables are name, {% for prop in instance_properties %}{{prop.name}}, {% endfor %} <br/>
                        Example: (numAtoms &gt;= 6000 && numAtoms &lt;= 8000 && name.match(/k3/))
                    </td>
                </tr>
                <tr><td colspan="2"><input type="submit" value="Show" /></td></tr>
            </table>
        </form>
    </div>
    <div>
        A solver is considered state-of-the-art if no other solver solves a strict superset of the instances it solves.<br/>
        Unique solver contribution is the number of instances only solved by this solver.
    </div>

    {% if form.i.data  %}
    <div style="margin: 3px;">
        <a href="{{ url_for('frontend.experiment_results', database=database, experiment_id=experiment.idExperiment) }}?{{results_params}}">Show SOTA solver results</a> on the selected instances
    </div>
    <table id="sota_table" class="display">
        <thead>
            <tr>
                <th>Solver Configuration</th>
                <th>Unique solver contributions</th>
            </tr>
        </thead>
        <tbody>
            {% for solver in sota_solvers %}
            <tr>
                <td><a href="{{ url_for('frontend.solver_configuration_details', database=database, experiment_id=experiment.idExperiment, solver_configuration_id=solver.idSolverConfig) }}">{{ solver.name }}</a></td>
                <td>{% if unique_solver_contribs[solver] %}<a href="{{ url_for('frontend.experiment_results', database=database, experiment_id=experiment.idExperiment) }}?{{unique_params_by_sc[solver]}}">{{ unique_solver_contribs[solver]|length }}</a>{% else %}0{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Percentage of solvable instances solved by each solver</h3>
    <img src="{{ url_for('plot.perc_solved_alone', database=database, experiment_id=experiment.idExperiment) }}?{{ GET_data }}"/>
    <h3>Spearman correlation matrix</h3>
    <table id="table_correlations" class="display">
        <thead>
        <tr>
            <th></th>
            {% for sc in form.sc.data %}
                <th>{{ sc.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sc in form.sc.data %}
            <tr>
                <td style="">{{ sc.name }}</td>
                {% for sc2 in form.sc.data %}
                    <td style="text-align: center;"><a href="{{ url_for('analysis.scatter_2solver_1property', database=database, experiment_id=experiment.idExperiment) }}?solver_config1={{ sc2.idSolverConfig }}&solver_config2={{ sc.idSolverConfig }}&{{ GET_data }}&run=all&xscale=&yscale=&result_property={{ form.cost.data }}">{{ sc_correlation[sc][sc2]|round(3) }}</a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
    {% if ranking_data %}
        <h3>Simplified ranking with number of runs the VBS uses of each solver. If two or more solvers have the same best time on some instance they all get their runs counted.</h3>
        <table id="ranking" class="display">
            <thead>
            <tr>
                <th>#</th>
                <th>Solver</th>
                <th># of successful runs</th>
                <th>% of all runs</th>
                <th>% of VBS runs</th>
                <th># runs used by VBS</th>
                <th>cumulated cost</th>
                <th>Median cost</th>
            </tr>
            </thead>
            <tbody>
            {% for sc in ranking_data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{% if sc.0 != "Virtual Best Solver (VBS)" %}<a href="{{url_for('frontend.experiment_results_by_solver', database=database, experiment_id=experiment.idExperiment)}}?solver_config={{sc.0.idSolverConfig}}&cost={{ form.cost.data }}">{{sc.0}}</a>{% else %}{{sc.0}}{% endif %}  {% if sc.0 != 'Virtual Best Solver (VBS)' %} <a href="{{ url_for('frontend.solver_configuration_details', database=database, experiment_id=experiment.idExperiment, solver_configuration_id=sc.0.idSolverConfig) }}"><img title="Show solver configuration details" src="{{ url_for('static', filename='img/info.png') }}"/></a>{% endif %}</td>
                    <td>{{sc.1}}</td>
                    <td>{{(sc.2 * 100.0)|round(2)}} %</td>
                    <td>{{(sc.3 * 100.0)|round(2)}} %</td>
                    <td>{{ vbs_uses_solver_count[sc.0.idSolverConfig] if sc.0 != "Virtual Best Solver (VBS)" else sc.1}}</td>
                    <td>{{sc.4|round(3)}}</td>
                    <td>{{sc.5|round(3)}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



{% endblock %}
