{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h2>Change password</h2>

    <form action="{{url_for('accounts.change_password', database=database, reset_hash=reset_hash)}}" method="post">
        {{ form.csrf_token }}
        <table>
            {{ render_field(form.password, size=40, maxlength=255) }}
            {{ render_field(form.password_confirm, size=40, maxlength=255) }}
            {% if errors %}
                <tr>
                    <td colspan="2">
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}