{% extends "base.html" %}
{% block title %}List of submitted descriptions{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" href="{{url_for('static', filename='css/smoothness/jquery-ui-1.8.16.custom.css')}}" rel="Stylesheet" />
    <link type="text/css" href="{{url_for('static', filename='css/demo_table_jui.css')}}" rel="Stylesheet" />
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/FixedHeader.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            oTable = $('#table').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "bLengthChange": false,
                "bStateSave": true,
                "bFilter": true,
                "bInfo": true,
                "oLanguage": {
                    "sZeroRecords": "No matching results"
                }
            });
            new FixedHeader( oTable );
        });
    </script>
{% endblock %}
{% block content %}
    <h2>List of submitted descriptions</h2>
    <table id="table" class="display">
    <thead>
        <tr>
            <th>Solver</th>
            <th>Submitted by</th>
            <th>Description</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        {% for s in filtered_solvers %}
        <tr>
            <td><a href="{{ url_for('frontend.solver_details', database=database, solver_id=s.idSolver) }}">{{ s.name }}</a></td>
            <td><a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a></td>
            <td><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=s.idSolver) }}">Download</a></td>
            <td>{% for c in s.competition_categories %}{{ c.name }} {% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
    <h3>By Solver</h3>
    <ul>
        {% for s in filtered_solvers %}
            {% if s.description_pdf %}
                <li><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=s.idSolver) }}">{{ s.name }}</a>  (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
            {% else %}
                <li><span style="color: red">{{ s.name }} (missing)</span> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>By category</h3>
    {% for c in categories %}
        <p>{{ c.name }}</p>
        <ul>
            {% for s in filtered_solvers_by_category[c] %}
                {% if s.description_pdf %}
                    <li><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=s.idSolver) }}">{{ s.name }}</a> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
                {% else %}
                    <li><span style="color: red">{{ s.name }} (missing)</span> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>With duplicates by solver</h3>
    <ul>
    {% for s in solvers %}
        {% if s.description_pdf %}
            <li><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=s.idSolver) }}">{{ s.name }}</a>  (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
        {% else %}
            <li><span style="color: red">{{ s.name }} (missing)</span> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
        {% endif %}
    {% endfor %}
    </ul>
    <h3>With duplicates by category</h3>
    {% for c in categories %}
        <p>{{ c.name }}</p>
        <ul>
        {% for s in solvers_by_category[c] %}
            {% if s.description_pdf %}
            <li><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=s.idSolver) }}">{{ s.name }}</a> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
            {% else %}
                <li><span style="color: red">{{ s.name }} (missing)</span> (<a href="mailto:{{ s.user.email }}">{{ s.user.lastname}}, {{ s.user.firstname }}</a>)</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
