{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Login to {{db}}</h2>

    <form action="{{url_for('accounts.login', database=database)}}" method="post">
        {{form.csrf}}
        <table>
            {{ render_field(form.email, size=40) }}
            {{ render_field(form.password, size=40) }}
            {{ render_field(form.permanent_login) }}
            {% if error %}<tr><td colspan="2"><div class="form_error">{{ error }}</div></td></tr>{% endif %}
        </table>
        <input type="submit" value="Login" />
    </form>
    <div><a href="{{ url_for('accounts.reset_password', database=database) }}">Forgot your password?</a></div>
    {% if 'csrf' in form.errors %}
        <div class="form_error">
            Missing or invalid CSRF token. Refresh the page and try again.
        </div>
    {% endif %}
    {% if db.competition_phase() in (1, 2) %}
        <a href="{{url_for('accounts.register', database=database)}}">Register</a>
    {% endif %}
{% endblock %}