{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <h2>Reset your password</h2>
    <div><img src="{{url_for('static', filename='img/info.png')}}"/>
        After entering your e-mail address you will receive a mail with a link to a site<br/>
        that lets you change your password. Only works after your account was activated and verified.
    </div>
    <form action="{{url_for('accounts.reset_password', database=database)}}" method="post">
        {{form.csrf}}
        <table>
            {{ render_field(form.email) }}
            {% if error %}<tr><td colspan="2"><div class="form_error">{{ error }}</div></td></tr>{% endif %}
        </table>
        <input type="submit" value="Send" />
    </form>
    {% if 'csrf' in form.errors %}
        <div class="form_error">
            Missing or invalid CSRF token.
        </div>
    {% endif %}
{% endblock %}