{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Submit Solver{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#solver_form").submit(function() {
                if (!$.trim($('#name').val())) {
                    alert("Name is required.");
                    return false;
                }
                if (!$.trim($('#version').val())) {
                    alert("Version is required.");
                    return false;
                }
                if (!$.trim($('#authors').val())) {
                    alert("Authors is required.");
                    return false;
                }
                {% if not id %} // only check for uploads on new solvers
                if (!$.trim($('#description_pdf').val())) {
                    alert("Description PDF is required.");
                    return false;
                }
                if (!$.trim($('#binary').val()) && !$.trim($('#code').val())) {
                    alert("Please upload either a binary or code, or both.");
                    return false;
                }
                {% endif %}
                if (!$('#competition_categories').val()) {
                    alert("You have to specify at least one competition category.");
                    return false;
                }
                if (!$.trim($('#parameters').val())) {
                    alert("You have to specify INSTANCE as parameter.");
                    return false;
                }
            });

            function update_launch_command() {
                if ($('#run_path').val().trim() != '') {
                    binary_name = $('#run_path').val();
                } else if ($('#binary').val()) {
                    binary_name = $('#binary').val();
                } else {
                    binary_name = 'submitted_binary_name';
                }

                $('#launch_command_preview').html($('#run_command').val() + ' /internal/path/to/solver/folder/' +  binary_name + ' ' + $('#parameters').val());
            }

            $('#run_command').keyup(function() {
                update_launch_command();
            });

            $('#run_path').keyup(function() {
                update_launch_command();
            });

            $('#parameters').keyup(function() {
                update_launch_command();
            });

            $('#binary').change(function() {
                update_launch_command();
            });

            update_launch_command();
        });
    </script>
{% endblock %}
{% block content %}
    <h2>Submit Solver</h2>
    <div>
        <img alt="Info" title="Info" src="{{url_for('static', filename='img/info.png')}}" />
        Fields marked with <strong>*</strong> are required. You have to submit either a binary or code, or both.<br/>
        <strong>Regarding temporary files:</strong> Please note that you should use the directory given as parameter TEMPDIR,<br/>
        which will be a unique and clean directory for every solver run. Because your solver might concurrently run more than<br/>
        once on a machine, simply using /tmp might result in conflicts. You should also avoid to write to your solver's own<br/>
        directory for the same reason.
    </div>
    {% if id %}
    <div>
        <img alt="Info" title="Info" src="{{url_for('static', filename='img/info.png')}}" /><strong>
        You are about to submit a new version of a solver you previously submitted. All results of the solver will be deleted and new test jobs generated.<br/>
        If you don't provide a new binary, code or description pdf, the old one will be used.</strong>
    </div>
    {% endif %}
    <form id="solver_form" action="{{url_for('accounts.submit_solver', database=database, id=id)}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <table width="800px">
            {{ render_field(form.name, size=40, maxlength=255, explanation="<strong>Required</strong>", required=True) }}
            {{ render_field(form.version, size=40, maxlength=255, explanation="<strong>Required</strong>", required=True) }}
            {{ render_field(form.authors, size=40, maxlength=255, explanation="<strong>Required</strong>", required=True) }}
            {{ render_field(form.description, cols=38, rows=5, explanation="Optional short description") }}
            {{ render_field(form.description_pdf, size=40, explanation="<strong>Required</strong> .pdf file", required=True) }}
            {{ render_field(form.binary, size=40, explanation="If your solver consists of more than one file please provide a .zip archive.") }}
            {{ render_field(form.code, size=40, explanation="Optional (.zip file)") }}
            {{ render_field(form.run_path, size=40, maxlength=255, explanation="If your binary is a .zip archive, specify the relative path of the main solver executable within the submitted binary .zip file") }}
            {{ render_field(form.run_command, size=40, maxlength=255, explanation="If your solver has to be run via another program, e.g. if it is a JAR file put 'java -jar' here. Alternatively you can use a wrapper script as main solver binary.") }}
            <tr>
                <td>Launch command preview:</td><td><span id="launch_command_preview"></span></td>
            </tr>
            {{ render_field(form.competition_categories, explanation='<strong>Required</strong>. Hold the Ctrl key to select multiple categories.', required=True) }}
            {{ render_field(form.parameters, size=40, explanation="<strong>Required</strong>", required=True) }}
            <tr>
                <td></td>
                <td>Please provide the parameters your solver should use here.
                    You can use INSTANCE, TEMPDIR and SEED as variables in the parameter specification. INSTANCE is required.
                    The system will substitute the instance filename and RNG seed in the specified place when your solver is run.
                    Your parameter specification will be parsed according to whitespace characters.
                    TEMPDIR can be used for temporary files.
                    <div>Example:<br/>
                    <span class="command">"INSTANCE -s SEED -tmp TEMPDIR -wp 0.05 -flag1"</span> will result in e.g. <span class="command">"./binaryName inst1.cnf -s 6441654 -tmp /some/writable/directory -wp 0.05 -flag1"</span>.
                    </div>
                </td>
            </tr>
        </table>
        {% if error %}<div style="color: red;"><b>Error: {{error}}</b></div>{% endif %}
        <input id="submit" type="submit" value="Submit" />
    </form>

{% endblock %}
