{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Configurator Visualisation{% endblock %}
{% block head %}
    {{ super() }}
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.common.core.js')}}" ></script>
       
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.line.js')}}" ></script>               <!-- Just needed for line graphs -->

<script>
    
    window.onload = function (e)
    {
        var line = new RGraph.Line('configurator', [{%for z in configuration['paramAttribute']%}'10',{%endfor%}] 
            {%for x in configuration['numValue']%}
                ,[{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}'{{configuration['paramAttribute'][c]['values'][x]}}',{%endif%}{%endfor%}]
            {%endfor%}
            );
        
        line.Set('chart.labels', [{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}
                                                '{{configuration['paramAttribute'][c]['name']}}',
                                            {%endif%}{%endfor%}]);
        line.Set('chart.labels.ingraph', [{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}
                                            {%if configuration['paramAttribute'][c]['domain'] == 'num'%}
                                                {%if configuration['paramAttribute'][c]['turn'] == False%}
                                                    ['{{configuration['paramAttribute'][c]['max']}}',,,,-0],
                                                {%endif%}
                                                {%if configuration['paramAttribute'][c]['turn'] == True%}
                                                    ['{{configuration['paramAttribute'][c]['min']}}',,,,-0],
                                                {%endif%}
                                            {%endif%}
                                            {%endif%}{%endfor%}]);
		line.Set('chart.gutter.top', 80);
		line.Set('chart.gutter.bottom', 170);
        line.Set('chart.gutter.left', 80);
        line.Set('chart.gutter.right', 50);
        line.Set('chart.colors', ['rgba(0,0,0,0)', {%for x in configuration['numValue']%}
                'rgba(0,0,0,255)',
            {%endfor%}]);
        line.Set('chart.linewidth', 0.5);
		line.Set('chart.background.grid.hsize', 25);
		line.Set('chart.background.grid.vsize', 25);
		line.Set('chart.ylabels', false);
        line.Set('chart.text.angle', 45);
        line.Set('chart.title', '{{configuration['expName']}}');        		
        line.Draw();
}

</script>
{% endblock %}

{% block content %}

<div style="float:left;">
    <canvas id="configurator" width="1600" height="700">[No canvas support]</canvas>
</div>


<div style="position: relative; float: left;">
 <form  method="post" action="{{url_for('frontend.configurator_visualisation', experiment_id= experiment.idExperiment, database = database)}}">
   <table border="2">
        <tr><th>parameter</th><th>values</th><th>move down</th><th>hide</th><th>position</th></tr>
        {%for c in configuration['paramAttribute']%}
        <tr>
            <th>{{configuration['paramAttribute'][c]['name']}}</th>
            {%if configuration['paramAttribute'][c]['domain'] == 'num'%}
                <td><p><br><input name="min" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['min']}}">min
                <input name="max" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['max']}}">max</p></td>
            {%endif%}
            {%if configuration['paramAttribute'][c]['domain'] == 'cat'%}
                <td><p><br><select name="{{configuration['paramAttribute'][c]['name']}}" size="{{configuration['paramAttribute'][c]['valueList']|length}}" multiple>
                {%for vl in configuration['paramAttribute'][c]['valueList']%}    
                    <option value="{{vl}}">{{vl}}</option>
                {%endfor%}
                </select></p></td>                
            {%endif%}
            <td><input type="checkbox" name="turn" value="{{c}}" {%if configuration['paramAttribute'][c]['turn'] == True%} checked="checked" {%endif%}><br></td>
            <td><input type="checkbox" name="hide" value="{{c}}" {%if configuration['paramAttribute'][c]['hide'] == True%} checked="checked" {%endif%}><br></td>
            <td><select name = {{c}}>
               {%for co in configuration['paramAttribute'][c]['position']%} 
                    <option value="{{co}}">{{co}}
                {%endfor%}
            </select></td>
        </tr>
        {%endfor%}        
        
    </table>   
    <input type="submit" name="submit" value="refresh">
</form></div>

{% endblock %}
