{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Configurator Visualisation{% endblock %}
{% block head %}
    {{ super() }}
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.common.core.js')}}" ></script>
       
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.line.js')}}" ></script>               <!-- Just needed for line graphs -->

<script>

    window.onload = function (e)
    {
        document.getElementById("configurator").width = screen.width;
        var line = new RGraph.Line('configurator', [{%for z in configuration['paramAttribute']%}'10',{%endfor%}] 
            {%for x in configuration['numValue']%}
                ,[{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}'{{configuration['paramAttribute'][c]['values'][x]}}',{%endif%}{%endfor%}]
            {%endfor%}
            );
        
        line.Set('chart.labels', [{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}
                                                '{{configuration['paramAttribute'][c]['name']}}',
                                            {%endif%}{%endfor%}]);
        line.Set('chart.labels.ingraph', [{%for c in configuration['paramAttribute']%}{%if configuration['paramAttribute'][c]['hide'] == False%}
                                            {%if configuration['paramAttribute'][c]['domain'] == 'num'%}
                                                {%if configuration['paramAttribute'][c]['turn'] == False%}
                                                    ['{{configuration['paramAttribute'][c]['max']}}',,,,-0],
                                                {%endif%}
                                                {%if configuration['paramAttribute'][c]['turn'] == True%}
                                                    ['{{configuration['paramAttribute'][c]['min']}}',,,,-0],
                                                {%endif%}
                                            {%endif%}
                                            {%endif%}{%endfor%}]);
		line.Set('chart.gutter.top', 80);
		line.Set('chart.gutter.bottom', 170);
        line.Set('chart.gutter.left', 100);
        line.Set('chart.gutter.right', 100);
        line.Set('chart.colors', ['rgba(0,0,0,0)', {%for x in configuration['solverConfigs']%}
            {%if x[2] == 1%}
                'rgba(255,0,0,255)',
            {%else%}
                'rgba(0,0,0,255)',
            {%endif%}
            {%endfor%}]);
        line.Set('chart.linewidth', 0.5);
		line.Set('chart.background.grid.hsize', 25);
		line.Set('chart.background.grid.vsize', 25);
		line.Set('chart.ylabels', false);
        line.Set('chart.text.angle', 45);
        line.Set('chart.title', '{{configuration['expName']}}');        		
        line.Draw();
}

</script>


{% endblock %}

{% block content %}

<div style="float:left;">
    <canvas id="configurator" height="700">[No canvas support]</canvas>
</div>

<form name="Formular" method="post" action="{{url_for('frontend.configurator_visualisation', experiment_id= experiment.idExperiment, database = database)}}">
<input type="submit" name="submit" value="refresh"><input type="submit" name="submit" value="reset">
<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <td><table border="2" cellpadding="10" cellspacing="0" width="100%">        
        {%for c in configuration['paramAttribute']%}
        <tr align="center" valign="middle">
            <th>{{configuration['paramAttribute'][c]['name']}}</th>
            {%if configuration['paramAttribute'][c]['domain'] == 'num'%}
                <td><p>min<input name="min_{{configuration['paramAttribute'][c]['name']}}" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['min']}}">
                <br>max<input name="max_{{configuration['paramAttribute'][c]['name']}}" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['max']}}"></p></td>
            {%endif%}
            {%if configuration['paramAttribute'][c]['domain'] == 'cat'%}
                <td><p><br><select name="select: {{configuration['paramAttribute'][c]['name']}}" 
                        size="{% if configuration['paramAttribute'][c]['valueList']|length < 6 %}
                                {{configuration['paramAttribute'][c]['valueList']|length }}
                                {%else%} 5 {%endif%}" 
                        multiple>
                {%for vl in configuration['paramAttribute'][c]['valueList']%}    
                    <option {%for svl in configuration['paramAttribute'][c]['selectValueList']%}{%if svl == vl%}
                            selected=selected 
                        {%endif%}{%endfor%} value="{{vl}}">{{vl}}</option>
                {%endfor%}
                </select></p></td>                
            {%endif%}
            <td>move<br>down<br><input type="checkbox" name="turn" value="{{configuration['paramAttribute'][c]['name']}}" {%if configuration['paramAttribute'][c]['turn'] == True%} checked="checked" {%endif%}><br></td>
            <td>hide<br><input type="checkbox" name="hide" value="{{configuration['paramAttribute'][c]['name']}}" {%if configuration['paramAttribute'][c]['hide'] == True%} checked="checked" {%endif%}><br></td>
            <td >position<br><select name = "{{configuration['paramAttribute'][c]['name']}}">
               {%for co in configuration['paramAttribute'][c]['positionList']%} 
                    <option value="{{c}}: {{co}}">{{co}}
                {%endfor%}
            </select></td>
        </tr>
        {%endfor%} 
           
    </table></td>
<td align="center" valign="top">
    solver configuration<br><select name="solverConfigs"
            size="{% if configuration['solverConfigs']|length < (configuration['paramAttribute']|length)*8 %} {{configuration['solverConfigs']|length}}{%else%}{{configuration['paramAttribute']|length}}{%endif%}" 
            multiple>
        {%for sc in configuration['solverConfigs']%}    
            <option {%if sc[2] == 1%} selected= selected {%endif%} value="{{sc[0]}}">{{sc[1]}}</option>
        {%endfor%}
    </select>
</td>
</table>
</form>
{% endblock %}
