{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Configurator Visualisation{% endblock %}
{% block head %}
    {{ super() }}
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.common.core.js')}}" ></script>
       
        <script src="{{url_for('static', filename='js/RGraph/libraries/RGraph.line.js')}}" ></script>               <!-- Just needed for line graphs -->

<script>
    
    window.onload = function (e)
    {
        var line = new RGraph.Line('configurator', [{%for z in configuration['paramAttribute']%}'10',{%endfor%}] 
            {%for x in configuration['numValue']%}
                ,[{%for c in configuration['paramAttribute']%}'{{configuration['paramAttribute'][c]['value'][x]}}',{%endfor%}]
            {%endfor%}
            );
        
        line.Set('chart.labels', [{%for c in configuration['paramAttribute']%}'{{configuration['paramAttribute'][c]['name']}}',{%endfor%}]);
        line.Set('chart.labels.ingraph', [{%for c in configuration['paramAttribute']%}
                                                ['{{configuration['paramAttribute'][c]['max']}}',,,,-0],
                                            {%endfor%}]);
		line.Set('chart.gutter.top', 80);
		line.Set('chart.gutter.bottom', 170);
        line.Set('chart.gutter.left', 80);
        line.Set('chart.gutter.right', 50);
        line.Set('chart.colors.alternate', true);
        line.Set('chart.linewidth', 3);
		line.Set('chart.background.grid.hsize', 25);
		line.Set('chart.background.grid.vsize', 25);
		line.Set('chart.ylabels', false);
        line.Set('chart.text.angle', 45);
        line.Set('chart.title', '{{configuration['expName']}}');        		
        line.Draw();
}

</script>
{% endblock %}

{% block content %}

<div style="float:left;">
    <canvas id="configurator" width="730" height="500">[No canvas support]</canvas>
</div>
 
<div style="position: relative; float: left;">
 <form  method="post" action="{{url_for('frontend.configurator_visualisation', experiment_id= experiment.idExperiment, database = database)}}">
   <table border="2">
        <tr><th>Parameter</th>
        {%for c in configuration['paramAttribute']%}
            <th>{{configuration['paramAttribute'][c]['name']}}</th>
        {%endfor%}
        </tr>
      <tr>
        <th>maximum</th>        
        {%for c in configuration['paramAttribute']%}
            <td><p><br><input name="max" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['max']}}"></p></td>
        {%endfor%}
      </tr>
      <tr>
        <th>minimum</th>
        {%for c in configuration['paramAttribute']%}
            <td><p><br><input name="min" type="zahl" size="7" maxlength="7" value="{{configuration['paramAttribute'][c]['min']}}"></p></td>
        {%endfor%}
      </tr>
      <tr>
        <th>move down</th><p> 
        {%for c in configuration['paramAttribute']%}
            <td><input type="checkbox" name="turn" value={{c}} ><br></td>
        {%endfor%}
      </p> </tr>
      <tr><th>hide</th> <p> 
        {%for c in configuration['paramAttribute']%}
            <td><input type="checkbox" name="hide" value="{{c}}"><br></td>
        {%endfor%}        
        </p></tr>
      <tr><th>position</th><p>
            {%for co in configuration['paramAttribute']%}
                <td> <p>
                     <select name = {{co}}>
                       {%for c in configuration['paramAttribute'][co]['position']%} 
                            <option value="{{c}}">{{c}}
                        {%endfor%}
                     </select>
                </p></td>
            {%endfor%}        
        </p></tr>
    </table>   
    <input type="submit" name="submit" value=" refresh ">
</form></div>


{% endblock %}
