<!DOCTYPE html>
<html>
    <head>
        <title>Databases</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
	    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
	    <meta http-equiv="cache-control" content="no-cache" />
    </head>
    <body>
        <h2>Databases</h2>

        <h3>The Server is connected to the following databases:</h3>
        <ul>
        {% for db in databases %}
            <li><a href="{{url_for('frontend.experiments_index', database=db.database)}}">{{db}}</a>{% if db.is_competition() %} (Competition){% endif %}</li>
        {% endfor %}
        </ul>
    </body>
</html>
