<!DOCTYPE html>
<html>
<head>
    <title>EDACC Web Frontend - Legal notice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="icon" href="{{url_for('static', filename='img/edacc.png')}}" type="image/png" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
    {% if g.PIWIK_URL %}
        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{g.PIWIK_URL}}" : "http://{{g.PIWIK_URL}}");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
        } catch (err) {}
    </script>
        <!-- End Piwik Tag -->
    {% endif %}
    <script type="text/javascript">
        var browserName=navigator.appName;var browserVer=parseInt(navigator.appVersion);var version="";var msie4=(browserName=="Microsoft Internet Explorer"&&browserVer>=4);if((browserName=="Netscape"&&browserVer>=3)||msie4||browserName=="Konqueror"||browserName=="Opera"){version="n3";}else{version="n2";}
        function blurLink(theObject){if(msie4){theObject.blur();}}
        function decryptCharcode(n,start,end,offset){n=n+offset;if(offset>0&&n>end){n=start+(n-end-1);}else if(offset<0&&n<start){n=end-(start-n-1);}
            return String.fromCharCode(n);}
        function decryptString(enc,offset){var dec="";var len=enc.length;for(var i=0;i<len;i++){var n=enc.charCodeAt(i);if(n>=0x2B&&n<=0x3A){dec+=decryptCharcode(n,0x2B,0x3A,offset);}else if(n>=0x40&&n<=0x5A){dec+=decryptCharcode(n,0x40,0x5A,offset);}else if(n>=0x61&&n<=0x7A){dec+=decryptCharcode(n,0x61,0x7A,offset);}else{dec+=enc.charAt(i);}}
            return dec;}
        function linkTo_UnCryptMailto(s){location.href=decryptString(s,-2);}
    </script>
</head>
<body>
<a href="{{ url_for('frontend.impressum', lang=None) }}">Auf Deutsch</a>

    </p>
    <p>On some pages we make use of cookies to provide login sessions or to save the state of certain tables across page access. We don't evaluate such cookies.
    </p>
    <p>In case you communicate via e-mail with the University of Ulm, the university will use any information that personally identifies you exclusively for the intended purpose.
    </p>
    <p>The University of Ulm does not take on responsibility for the contents or for the privacy policy of external resources.</p></div>

    <h3>Piwik</h3>
    <p>
        On this website we make use of Piwik, an open source web analytics tool which tracks access to our web pages for statistical evaluation. IP addresses are saved in an anonymized fashion (last 2 bytes removed).
        If you wish to opt-out please use the following form:
    </p>

    <iframe frameborder="no" width="600px" height="200px" src="http://{{g.PIWIK_URL}}index.php?module=CoreAdminHome&action=optOut&language=en"></iframe>
</div>
</body>
</html>