<!DOCTYPE html>
<html>
<head>
    <title>EDACC Web Frontend - Legal notice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="icon" href="{{url_for('static', filename='img/edacc.png')}}" type="image/png" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
    {% if g.PIWIK_URL %}
        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{g.PIWIK_URL}}" : "http://{{g.PIWIK_URL}}");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
        } catch (err) {}
    </script>
        <!-- End Piwik Tag -->
    {% endif %}
    <script type="text/javascript">
        var browserName=navigator.appName;var browserVer=parseInt(navigator.appVersion);var version="";var msie4=(browserName=="Microsoft Internet Explorer"&&browserVer>=4);if((browserName=="Netscape"&&browserVer>=3)||msie4||browserName=="Konqueror"||browserName=="Opera"){version="n3";}else{version="n2";}
        function blurLink(theObject){if(msie4){theObject.blur();}}
        function decryptCharcode(n,start,end,offset){n=n+offset;if(offset>0&&n>end){n=start+(n-end-1);}else if(offset<0&&n<start){n=end-(start-n-1);}
            return String.fromCharCode(n);}
        function decryptString(enc,offset){var dec="";var len=enc.length;for(var i=0;i<len;i++){var n=enc.charCodeAt(i);if(n>=0x2B&&n<=0x3A){dec+=decryptCharcode(n,0x2B,0x3A,offset);}else if(n>=0x40&&n<=0x5A){dec+=decryptCharcode(n,0x40,0x5A,offset);}else if(n>=0x61&&n<=0x7A){dec+=decryptCharcode(n,0x61,0x7A,offset);}else{dec+=enc.charAt(i);}}
            return dec;}
        function linkTo_UnCryptMailto(s){location.href=decryptString(s,-2);}
    </script>
</head>
<body>
<a href="{{ url_for('frontend.impressum', lang=None) }}">Auf Deutsch</a>
<h1>Impressum</h1><h2>Herausgeber</h2>
<p> Universität Ulm<br />89069 Ulm<br />Telefon +49 (0)731/50-10<br />Telefax +49 (0)731/50-22038<br />Umsatzsteueridentifikationsnummer DE173703203

</p>
<h3>Vertretung</h3>
<p>Die Universität Ulm ist eine Körperschaft des öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Karl Joachim Ebeling oder durch den Kanzler Dieter Kaufmann vertreten.<b></b>
</p>
<h3>Adresse des Präsidenten</h3>
<p>Universität Ulm<br /><a href="javascript:linkTo_UnCryptMailto('ocknvq,rtcgukfgpvBwpk/wno0fg');">Präsident Prof. Dr. Karl Joachim Ebeling</a><br />Helmholtzstr. 16<br />89081 Ulm
</p>
<h3><b>Adresse des Kanzlers</b></h3>
<p>Universität Ulm<br /><a href="javascript:linkTo_UnCryptMailto('ocknvq,mcpbngtBwpk/wno0fg');">Kanzler Dieter Kaufmann</a><br />Helmholtzstr. 16<br />89081 Ulm<br /> </p></div><!--DMAILER_SECTION_BOUNDARY_END--><!--DMAILER_SECTION_BOUNDARY_--><div id="c196862"><h3>Inhalt</h3>

    <p>Verantwortlich im Sinne des Presserechts für die WWW-Seiten innerhalb der Domäne: edacc3.informatik.uni-ulm.de
    </p>
    <p>Adrian Balint<br />Universität Ulm - Institut für Theoretische Informatik<br />Albert-Einstein-Allee 11<br />89069 Ulm<br />Telefon +49 (0)731/5024105<br />Telefax +49 (0)731/5024102</p></div><!--DMAILER_SECTION_BOUNDARY_END--><!--DMAILER_SECTION_BOUNDARY_--><div id="c196860" ><h3>Zuständige Aufsichtsbehörde</h3>
    <p> Ministerium für Wissenschaft, Forschung und Kunst Baden-Württemberg<br />Königstraße 46<br />70173 Stuttgart
    </p>
    <h2>Copyright</h2>

    <p>© Ulm University - Institute of Theoretical Computer Science
    </p>
    <p>Alle auf dieser Website veröffentlichten Inhalte (Layout, Texte, Bilder, Grafiken usw.) unterliegen dem Urheberrecht. Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger ausdrücklicher Zustimmung der Universität Ulm. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Fotokopien und Downloads von Web-Seiten für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch dürfen hergestellt werden.
    </p>
    <p>Die Universität Ulm erlaubt ausdrücklich und begrüßt das Zitieren der Dokumente und Webseiten sowie das Setzen von Links auf ihre Website.
    </p>
    <p>Die Universität Ulm ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
    </p>
    <p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
    </p>
    <h2><b>Weibliche und männliche Schreibweise</b></h2>
    <p>Aus Gründen der besseren Lesbarkeit wurde&nbsp;in der Regel&nbsp;die männliche Schreibweise verwendet. Wir weisen an dieser Stelle ausdrücklich darauf hin, dass sowohl die männliche als auch die weibliche Schreibweise für die entsprechenden Beiträge gemeint ist.
    </p>
    <h2>Haftungsausschluss</h2>

    <h3>Haftungsausschluss bei eigenen Inhalten</h3>
    <p>Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt recherchiert und implementiert. Fehler im Bearbeitungsvorgang sind dennoch nicht auszuschließen.&nbsp;
    </p>
    <p>Eine Haftung für die Richtigkeit, Vollständigkeit und Aktualität dieser Webseiten kann trotz sorgfältiger Prüfung nicht übernommen werden. Die Universität Ulm übernimmt insbesondere keinerlei Haftung für eventuelle Schäden oder Konsequenzen, die durch die direkte oder indirekte Nutzung der angebotenen Inhalte entstehen.
    </p>
    <h3>Haftungsausschluss bei Links zu externen Inhalten</h3>
    <p>Die Universität Ulm ist als Inhaltsanbieter für die eigenen Inhalte, die sie zur Nutzung bereithält, nach den allgemeinen Gesetzen verantwortlich. Von diesen eigenen Inhalten sind Querverweise auf die von anderen Anbietern bereitgehaltenen Inhalte zu unterscheiden. Diese fremden Inhalte stammen weder von der Universität Ulm, noch hat die Universität Ulm die Möglichkeit, den Inhalt von Seiten Dritter zu beeinflussen.
    </p>
    <p>Die Inhalte fremder Seiten, auf die die Universität Ulm mittels Links hinweist, spiegeln nicht die Meinung der Universität Ulm wider, sondern dienen lediglich der Information und der Darstellung von Zusammenhängen.
    </p>
    <p>Diese Feststellungen gelten für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in Gästebüchern, Diskussionsforen und Mailinglisten, die von der Universität Ulm eingerichtet wurden. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.
    </p>
    <p>&nbsp;</p></div><!--DMAILER_SECTION_BOUNDARY_END--><!--DMAILER_SECTION_BOUNDARY_--><div id="c196849"><h2>Konzeption, Realisierung und Gestaltung </h2>

    <p>Daniel Diepold
    </p>
    <p>Institute of Theoretical Computer Science</p>

    <h3>Piwik</h3>
    <p>
        On this website we make use of Piwik, an open source web analytics tool that tracks access to the website.
        We save information about your browser and IP addresses (last 2 bytes anonymized) on our server. If you don't wish to participate, please opt-out below:
    </p>

    <iframe frameborder="no" width="600px" height="200px" src="http://{{g.PIWIK_URL}}index.php?module=CoreAdminHome&action=optOut&language=en"></iframe>
</div>
</body>
</html>