<!DOCTYPE html>
<html>
<head>
    <title>EDACC Web Frontend - Terms and conditions, privacy notice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="icon" href="{{url_for('static', filename='img/edacc.png')}}" type="image/png" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
</head>
<body>
<h1>Terms and conditions, privacy notice</h1>
<p>By registering on this website you agree that we save the submitted information on our servers and<br/>
   use it only to conduct the competition. We do not share your information with third parties. You have the right<br/>
   to inquire about all personal information we have stored about you and to request us to delete all personal<br/>
   information at any point.
</p>
</body>
</html>