<!DOCTYPE html>
<html>
<head>
    <title>EDACC Web Frontend - Terms and conditions, privacy notice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="icon" href="{{url_for('static', filename='img/edacc.png')}}" type="image/png" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
</head>
<body>
<h1>Datenschutzerklärung</h1>
<p>Durch Registrierung und Benutzung dieser Webseite erklären Sie sich damit einverstanden,<br/>
    dass wir die übermittelten Informationen auf unseren Servern speichern und ausschließlich zur Durchführung<br/>
    der SAT Challenge 2012 verwenden. Wir geben Ihre Informationen nicht an Dritte weiter. Sie haben das<br/>
    Recht jederzeit Ihre bei uns gespeicherten persönlichen Informationen abzufragen und auf Anfrage diese<br/>
    löschen zu lassen.
</p>

<h1>Terms and conditions, privacy notice</h1>
<p>By registering on this website you agree that we save the submitted information on our servers and<br/>
    use it only to conduct the SAT Challenge 2012. We do not share your information with third parties. You have the right<br/>
    to inquire about all personal information we have stored about you and to request us to delete all personal<br/>
    information at any point.
</p>
</body>
</html>