{% extends "base.html" %}
{% block title %}{{solver.name}}{% endblock %}
{% block content %}
<h2>{{solver.name}}</h2>

<table class="details">
    <tr class="even">
        <td>Name:</td>
        <td>{{solver.name}}</td>
    </tr>
    <tr class="odd">
        <td>Categories:</td>
        <td>{{', '.join(categories)}}</td>
    </tr>
    <tr class="even">
        <td>Version:</td>
        <td>{{solver.version}}</td>
    </tr>
    <tr class="odd">
        <td>Description:</td>
        <td>{{solver.description}}</td>
    </tr>
    <tr class="even">
        <td>Authors:</td>
        <td>{{solver.authors}}</td>
    </tr>
</table>
<div>
    {% if solver.binaries %}
    <strong>Launch command: {{ solver.binaries[0].runCommand or '' }} {{ solver.binaries[0].runPath or ''}} {{ solver|parameter_template }}</strong>
    {% endif %}
    {% if session.admin %}
        <p>
        <a href="{{url_for('accounts.admin_toggle_solver_freeze', database=database, solver_id=solver.idSolver)}}">Solver is {{ 'frozen' if solver.competition_frozen else 'not frozen'}}</a> (Click to toggle)
        </p>
    {% endif %}
</div>
<div>
    <ul>
        {% if solver.binaries %}
        <li><a href="{{ url_for('frontend.solver_binary_download', database=database, solver_binary_id=solver.binaries[0].idSolverBinary) }}">Download</a> binary</li>
        {% endif %}
        {% if solver.code %}
        <li><a href="{{ url_for('frontend.solver_code_download', database=database, solver_id=solver.idSolver) }}">Download</a> solver code</li>
        {% endif %}
        {% if solver.description_pdf %}
        <li><a href="{{ url_for('frontend.solver_description_download', database=database, solver_id=solver.idSolver) }}">Download</a> description PDF</li>
        {% endif %}
    </ul>
</div>


{% endblock %}