{% extends "base.html" %}
{% block title %}{{solver_config.get_name()}} Details{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" href="{{url_for('static', filename='css/smoothness/jquery-ui-1.8.16.custom.css')}}" rel="Stylesheet" />
    <link type="text/css" href="{{url_for('static', filename='css/demo_table_jui.css')}}" rel="Stylesheet" />
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/FixedHeader.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
             var oTable = $('#parameters').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": true,
                "oLanguage": {
                    "sZeroRecords": "No parameters"
                }
            });
            new FixedHeader(oTable);
        });
    </script>
{% endblock %}
{% block content %}
<div class="navigation">
    » <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a> ::
    <a href="{{url_for('frontend.experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
    <a href="{{url_for('frontend.experiment_solver_configurations', database=database, experiment_id=experiment.idExperiment)}}">Solver Configurations</a> ::
    {{solver_config.get_name()}} details
</div>
<h2>Details for solver configuration {{solver_config.get_name()}}</h2>

<table class="details">
    <tr class="even">
        <td>Name:</td>
        <td>{{solver.name}}</td>
    </tr>
    <tr class="odd">
        <td>Version:</td>
        <td>{{solver.version}}</td>
    </tr>
    <tr class="even">
        <td>Description:</td>
        <td>{{solver.description}}</td>
    </tr>
    <tr class="odd">
        <td>Authors:</td>
        <td>{{solver.authors}}</td>
    </tr>
    {% if solver.description_pdf %}
    <tr class="even">
        <td>Description (PDF):</td>
        <td><a href="{{ url_for('solver_description_download', database=database, solver_id=solver.idSolver)}}">Download</a></td>
    </tr>
    {% endif %}
</table>

<strong>Launch Command: {{solver_config|launch_command}}</strong>

<h3>Specified parameters</h3>

 <table id="parameters"  class="display">
    <thead>
        <tr>
            <th>Order</th>
            <th>Name</th>
            <th>Prefix</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for parameter in parameters %}
        <tr>
            <td>{{ parameter.parameter.order }}</td>
            <td style="text-align:center;">{{ parameter.parameter.name }}</td>
            <td style="text-align:center;">{{parameter.parameter.prefix or ''}}</td>
            <td style="text-align:center;">{% if not parameter.parameter.hasValue %}{{ '\u2713' }}{% else %}{{parameter.value}}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
 </table>


{% endblock %}